@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-block: 0;
}

/* Fondo de la página */
body::before {
    content: "";
    background-image: url('/static/fondo_web.jpg');
    background-repeat: repeat;
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

nav {
    height: 160px;
    width: 100%;
    background-color: #EBE8FF;
}

ul{
    display: flex;
    align-items: center;
    height: 100%;
    
}

.logo{
    font-size: 50px;
    margin-left: 42px;
    margin-top: 53px;
    color: black;
}

.nav__element{
    font-size: 25px;
    padding: 10px 24px;
    background-color: #D3D0E5;
    border-radius: 100px;
    
}

a{
    color: black;
}

li:nth-child(2){
    margin-left: 250px;
    
}

li:nth-child(2) a{
    background-color: #9960FF;
    color: white;
    font-weight: bold;
}

li:nth-child(3){
    margin: 0 39px;
}

.titulo{
    font-size: 45px;
    margin-top: 40px;
}

.search-container {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#search-bar {
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(250, 241, 255);
}

#new_carer {
    width: 420px;
    height: 67px;
    border: 2px solid black;
    background-color: #FFEBa3;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400; /* Regular */
    margin-left: 50px;
}

#new_carer:active{
    background-color: #FFD700;
    color: white
}

#new_carer:hover{
    cursor: pointer;
}

table {
    margin-top: 50px;
    width: 46%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #9D8DFF;
    color: white;
    font-weight: 900;
}

#new_carer_button{
    width: 100%;
    height: 100%;
    color: black;
}

#new_carer_button:active{
    color:white;
}


